body{
    font-family: 'Times New Roman', Times, serif;     
    width: 100%;
    margin:15px auto;
   
   
}


aside{
    float: left;
    width: 40%;

}
section{
    float: left;
    width: 60%;
}
footer{
   clear: both;
    
}

.logo{
    float: left;
    overflow: hidden;
}
header{
    background-image: linear-gradient(to left,#FF512F,white,#DD2476);
    
}

footer{
    background-image: linear-gradient(to left,#FF512F,white,#DD2476);
}
.footer{
    padding: 30px;
    text-align: center;
}
.navbar-brand{
    color: #DA2C43 !important;
}
nav{
    clear: both;
}
.navbar-nav{
    background-color: white !important;
}
.nav-item{
    padding: 0 100px;
    border: 1px solid black;
   background-image: linear-gradient(to left,#09203F,#537895);
    
}
.nav-link{
    color: black;
    font-size: 20px;
    
}
.aside_content li{
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    list-style-type: none;
    background-color: blue;
    padding: 20px;
    border-radius: 20px;
    width: 50%;
    
}
.aside_content li:hover{
    background-color: black;
}
.aside_content a{
    text-decoration: none;
    color: white;
}

.aside_content a:hover{
    color: white;
}
section{
    padding: 10px;
}
section img{
  float: left;
  margin-right: 20px;
  width: 250px;
  height: 250px;
}
section p{
    text-align: justify;
}
@media only screen and (max-width: 600px) {
    aside{
        clear: both;
         width: 100%;
         padding: 30px;
     
     }
     section{
         clear: both;
         width: 100%;
     }
     section img{
        clear: both;
        width: 100%;
      }
      aside ul{
        width: 100%;
      }
  
 }